html {
    background-color: rgb(3, 3, 20);
    font-size: 20pt;
    text-align: center;
    font-family: ArnoPro-Regular, serif;
}

@font-face {
    font-family: ArnoPro-Regular;
    src: url("C:\Users\marti\Downloads\arno-pro\ArnoPro-Regular.otf");
}

header {
    color: rgb(227, 228, 225);
    border-width: thick;
    border: ridge;
}
header img{
    width: 30pt;
    height: 20pt;
}

p {
    color: rgb(227, 228, 225);
}

h1 {
    color: rgb(227, 228, 225);
    display: block;
}

h2 {
    color: rgb(210, 214, 193);
}

h3 {
    color: rgb(146, 144, 195);
}

li {
    color: rgb(146, 144, 195);
}
#enviar {
    background-color:  rgb(146, 144, 195);
    border-radius: 5px;
}